<div ng-include="'modules/common/header/view'"></div>
<div ng-include="'modules/common/sidenav/view-main'"></div>
<div id="content" ng-controller="ForeignInvoiceCtrl">
    <div ng-include="'modules/common/wizard/import'"></div>
    <div class="row">
        <div class="col-7">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-book"></i>Foreign Invoice</h2>
                </div>
                <div class="box-content">
                    <form role="form">
                        <div class="form-group">
                            <label class="control-label">Date</label>
                            <div class="controls">
                                <div class="input-group date" ng-controller="DatePicker">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="model.date" show-weeks="showWeeks" show-button-bar="showButtonBar" is-open="opened" datepicker-options="dateOptions" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Payment Terms</label>
                            <div class="controls">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Original Receive Date</label>
                            <div class="controls">
                                <div class="input-group date" ng-controller="DatePicker">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="model.ord" show-weeks="showWeeks" show-button-bar="showButtonBar" is-open="opened" datepicker-options="dateOptions" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Invoice No.</label>
                            <div class="controls">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Invoice Amount</label>
                            <div class="controls">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Invoice Due Date</label>
                            <div class="controls">
                                <div class="input-group date" ng-controller="DatePicker">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="model.idd" show-weeks="showWeeks" show-button-bar="showButtonBar" is-open="opened" datepicker-options="dateOptions" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Bank Receive Date for RGI</label>
                            <div class="controls">
                                <div class="input-group date" ng-controller="DatePicker">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="model.rgi" show-weeks="showWeeks" show-button-bar="showButtonBar" is-open="opened" datepicker-options="dateOptions" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Invoice Receive Date from Bank</label>
                            <div class="controls">
                                <div class="input-group date" ng-controller="DatePicker">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="model.bank" show-weeks="showWeeks" show-button-bar="showButtonBar" is-open="opened" datepicker-options="dateOptions" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Transmittal Date for AP</label>
                            <div class="controls">
                                <div class="input-group date" ng-controller="DatePicker">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="model.tda" show-weeks="showWeeks" show-button-bar="showButtonBar" is-open="opened" datepicker-options="dateOptions" />
                                </div>
                            </div>
                        </div>
                        <div class="form-actions highlight">
                            <button type="button" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="box">
                <div class="box-header">
                    <h2>
                        <i class="fa fa-file-o"></i>Required Documents</h2>
                </div>
                <div class="box-content">
                    <ul class="upload-docs">
                        <li>
                            <span class="status">
                                <span class="desc">Document-Filename-01.doc</span>
                                <span class="label label-danger">Not uploaded</span>
                            </span>
                        </li>
                        <li>
                            <span class="status">
                                <span class="desc">Document-Filename-02.doc</span>
                                <span class="label label-danger">Not uploaded</span>
                            </span>
                        </li>
                        <li>
                            <span class="status">
                                <span class="desc">Document-Filename-03.doc</span>
                                <span class="label label-danger">Not uploaded</span>
                            </span>
                        </li>
                    </ul>
                    <div class="form-actions highlight">
                        <form>
                            <span class="fileUpload btn btn-primary">
                                <span class="fa fa-plus-circle"></span>Attach documents
                                <input type="file" ng-file-select="onFileSelect($files)" />
                            </span>
                        </form>
                        <p id="fileUploadError" class="text-danger hide"></p>
                        <div class="list-group hide" id="files"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
