<div id="content">
    <div class="sub-header">
        <h3 class="section-title">
            Prepare Shipment &gt;
            <a ui-sref="prepareshipment_departure">Shipment Departure</a> &gt;
            <strong>Add</strong>
        </h3>
    </div>
    <div class="row">
        <div class="col-xs-7">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-ticket"></i>Shipment Departure</h2>
                </div>
                <div class="box-content">
                    <form role="form">                                                
                        <div class="form-group">
                            <label class="control-label">Bill of Lading No.</label>
                            <div class="controls">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Commercial Invoice No.</label>
                            <div class="controls">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Actual Date of Departure</label>
                                    <div class="controls">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" name="eta" class="form-control" ng-model="planner.eta" data-max-date="{{planner.etd}}" bs-datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Actual Date of Arrival</label>
                                    <div class="controls">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" name="etd" class="form-control" ng-model="planner.etd" data-min-date="{{planner.eta}}" bs-datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Port of Arrival</label>
                            <select class="form-control">
                                <option>POM</option>
                                <option>MICP</option>
                            </select>
                        </div>

                        <div class="form-actions highlight">
                            <button type="button" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="box">
                <div class="box-header">
                    <h2>
                        <i class="fa fa-file-o"></i>Required Documents</h2>
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="upload-docs">
                                <li ng-hide="!item.documents || item.documents.length">
                                    <span class="status">
                                        <span class="desc">Please select item</span>
                                    </span>
                                </li>
                                <li ng-repeat="doc in item.documents | filter:{document_category:'ii_planner'}">
                                    <span class="status">
                                        <span class="desc">{{doc.document_name}}c</span>
                                        <span class="label label-danger">Not uploaded</span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-actions highlight">
                        <form>
                            <input type="file" ng-disabled="!item.documents" ng-model="files" file-change>
                            <br />
                            <button type="button" class="btn btn-block" ng-disabled="!item.documents">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
