<div id="sidebar-left">
    <input type="text" class="search" placeholder="Enter Impex/PO number..." />
    <div class="sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li>
                <a href="/">
                    <i class="fa fa-dashboard"></i>Status Board
                </a>
            </li>
            <li>
                <a href="javascript:;" ng-model="initiateimport" ng-click="initiateimport=!initiateimport">
                    <i class="fa fa-bars"></i>Initiate Import 
                    <span class="label"><i class="fa fa-caret-down"></i></span>
                </a>
                <ul ng-show="initiateimport">
                    <li>
                        <a class="submenu" href="/initiateimport/planner">
                            <i class="fa fa-pencil-square-o"></i>Planner
                        </a>
                    </li>
                    <li>
                        <a class="submenu" href="/initiateimport/broker">
                            <i class="fa fa-chain"></i>
                            <span class="hidden-sm">Broker</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/assignforwarder">
                    <i class="fa fa-truck"></i>
                    <span class="hidden-sm">Assign Forwarder</span>
                </a>
            </li>
            <li>
                <a href="/shipmentdetail">
                    <i class="fa fa-building-o"></i>
                    <span class="hidden-sm">Shipment Detail</span>
                </a>
            </li>
            <li>
                <a href="/shipmentdeparture">
                    <i class="fa fa-ticket"></i>
                    <span class="hidden-sm">Shipment Departure</span>
                </a>
            </li>
            <li>
                <a href="/foreigninvoice">
                    <i class="fa fa-book"></i>
                    <span class="hidden-sm">Foreign Invoice</span>
                </a>
            </li>
            <li>
                <a href="/customsclearance">
                    <i class="fa fa-check-square-o"></i>
                    <span class="hidden-sm">Customs Clearance</span>
                </a>
            </li>
            <li>
                <a href="/delivery">
                    <i class="fa fa-road"></i>
                    <span class="hidden-sm">Delivery</span>
                </a>
            </li>

            <!-- Misc Navigation -->
            <li>
                <div class="nav-divider"></div>
            </li>
            <li>
                <a href="javascript:;" ng-model="customscharges" ng-click="customscharges=!customscharges">
                    <i class="fa fa-bars"></i>Customs Charges Details
                    <span class="label"><i class="fa fa-caret-down"></i></span>
                </a>
                <ul ng-show="customscharges">
                    <li>
                        <a class="submenu" href="/customscharges/fclcharges">
                            <i class="fa fa-file-text-o"></i>FCL Charges
                        </a>
                    </li>
                    <li>
                        <a class="submenu" href="/customscharges/lclcharges">
                            <i class="fa fa-file-text-o"></i>LCL Charges
                        </a>
                    </li>
                    <li>
                        <a class="submenu" href="/customscharges/aircharges">
                            <i class="fa fa-file-text-o"></i>AIR Charges
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
