<div id="sidebar-left">
    <div class="search-box">
        <input type="text" class="search" placeholder="Enter Impex/PO number..." />
    </div>    
    <div class="sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li>
                <a href="/statusboard" active-path>
                    <i class="fa fa-dashboard"></i>Status Board
                </a>
            </li>
            <li>
                <a href="javascript:;" ng-model="initiateimport" ng-click="initiateimport=!initiateimport">
                    <i class="fa fa-bars"></i>Initiate Import 
                    <span class="submenu-icon"><i class="fa fa-plus-square-o"></i></span>
                </a>
                <ul ng-show="initiateimport" class="nav-submenu">
                    <li>
                        <a class="submenu" href="/initiateimport/planner" active-path>
                            <i class="fa fa-pencil-square-o"></i>Planner
                        </a>
                    </li>
                    <li>
                        <a class="submenu" href="/initiateimport/broker" active-path>
                            <i class="fa fa-chain"></i>
                            <span class="hidden-sm">Broker</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/assignforwarder" active-path>
                    <i class="fa fa-truck"></i>
                    <span class="hidden-sm">Assign Forwarder</span>
                </a>
            </li>
            <li>
                <a href="/shipmentdetail" active-path>
                    <i class="fa fa-building-o"></i>
                    <span class="hidden-sm">Shipment Detail</span>
                </a>
            </li>
            <li>
                <a href="/shipmentdeparture" active-path>
                    <i class="fa fa-ticket"></i>
                    <span class="hidden-sm">Shipment Departure</span>
                </a>
            </li>
            <li>
                <a href="/foreigninvoice" active-path>
                    <i class="fa fa-book"></i>
                    <span class="hidden-sm">Foreign Invoice</span>
                </a>
            </li>
            <li>
                <a href="/customsclearance" active-path>
                    <i class="fa fa-check-square-o"></i>
                    <span class="hidden-sm">Customs Clearance</span>
                </a>
            </li>
            <li>
                <a href="/delivery" active-path>
                    <i class="fa fa-road"></i>
                    <span class="hidden-sm">Delivery</span>
                </a>
            </li>
        </ul>
    </div>
</div>
