<div id="content" ng-controller="WarehouseAdd">
    <div class="row">
        <div class="col-xs-7">
            <div class="box">
                <div class="box-header">
                    <h2>
                        <i class="fa fa-chain"></i>Add Warehouse</h2>
                </div>
                <div class="box-content" >
                    <form role="form" name="form" novalidate>
                        <div class="form-group">
                            <label class="control-label">Warehouse Name</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="name" ng-model="warehouse.name" required>
                                <span class="label label-danger pull-right" ng-show="form.name.$error.required">{{form.name.message}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Warehouse Address</label>
                            <div class="controls">
                                <textarea class="form-control" name="address" ng-model="warehouse.address" required></textarea>
                                <span class="label label-danger pull-right" ng-show="form.address.$error.required">{{form.address.message}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Telephone no.</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="tel" ng-model="warehouse.tel" required>
                                <span class="label label-danger pull-right" ng-show="form.tel.$error.required">{{form.tel.message}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Contact Person</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="contact" ng-model="warehouse.contact">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email Address</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="email" ng-model="warehouse.email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Valid From</label>
                                    <div class="controls">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                             <input type="text" name="valid_from" class="form-control" ng-model="warehouse.valid_from" data-max-date="{{warehouse.valid_to}}" placeholder="From" bs-datepicker required>                                             
                                        </div>
                                        <span class="label label-danger pull-right" ng-show="form.valid_from.$error.required">{{form.valid_from.message}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Valid To</label>
                                    <div class="controls">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" name="valid_to" class="form-control" ng-model="warehouse.valid_to" data-min-date="{{warehouse.valid_from}}" placeholder="To" bs-datepicker required>
                                        </div>
                                        <span class="label label-danger pull-right" ng-show="form.valid_to.$error.required">{{form.valid_to.message}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Remarks</label>
                            <div class="controls">
                                <textarea class="form-control" name="remarks" ng-model="warehouse.remarks"></textarea>
                            </div>
                        </div>
                        <div class="form-actions highlight">
                            <button ng-click="submit(form)" class="btn btn-primary">Add</button>
                            <button ng-click="clear()" class="btn">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            
        </div>
    </div>
</div>
