<div id="content" ng-controller="ItemAdd" ng-init="all()">
    <div class="row">
        <div class="col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h2>
                        <i class="fa fa-calendar-o"></i>Material</h2>
                </div>
                <div class="box-content">
                    <form role="form" name="form" novalidate>
                        <div class="form-group">
                            <label class="control-label">Material Code</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="no" ng-model="material.no" required>
                                <span class="label label-danger pull-right" ng-show="form.no.$error.required">{{form.no.message}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Valid From</label>
                                    <div class="controls">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" name="valid_from" class="form-control" ng-model="material.valid_from" data-max-date="{{material.valid_to}}" placeholder="From" bs-datepicker required>
                                        </div>
                                        <span class="label label-danger pull-right" ng-show="form.valid_from.$error.required">{{form.valid_from.message}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Valid To</label>
                                    <div class="controls">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" name="valid_to" class="form-control" ng-model="material.valid_to" data-min-date="{{material.valid_from}}" placeholder="To" bs-datepicker required>
                                        </div>
                                        <span class="label label-danger pull-right" ng-show="form.valid_to.$error.required">{{form.valid_to.message}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Material Description</label>
                            <div class="controls">
                                <textarea class="form-control" name="description" ng-model="material.description" required></textarea>
                                <span class="label label-danger pull-right" ng-show="form.description.$error.required">{{form.description.message}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Material Type</label>
                            <select class="form-control" ng-init="material.type='pm'" ng-model="material.type">
                                <option value="pm">Packaging Material (PM)</option>
                                <option value="rm">Raw Material (RM)</option>
                            </select>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="control-label">Default Supplier</label>
                            <select class="form-control" ng-model="material.supplier" ng-options="supplier._id as supplier.name for supplier in suppliers" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Default Broker</label>
                            <select class="form-control" ng-model="material.broker" ng-options="broker._id as broker.name for broker in brokers" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Default Forwarder</label>
                            <select class="form-control" ng-model="material.forwarder" ng-options="forwarder._id as forwarder.name for forwarder in forwarders" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Remarks</label>
                            <div class="controls">
                                <textarea class="form-control" name="remarks" ng-model="material.remarks" required></textarea>
                            </div>
                        </div>
                        <div class="form-actions highlight">
                            <button ng-click="submit(form)" type="button" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-list"></i></h2>
                </div>
                <div class="box-content">
                    <div bs-tabs="requirements">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
