<div id="content" ng-controller="RegulatoryDocumentsAdd">
    <div class="row">
        <div class="col-xs-7">
            <div class="box">
                <div class="box-header">
                    <h2>
                        <i class="fa fa-institution"></i>Add Regulatory Document</h2>
                </div>
                <div class="box-content">
                    <form role="form" name="form" novalidate>
                        <div class="form-group">
                            <label class="control-label">Document No.</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="license_no" ng-model="regulatory.license_no" required>
                                <span class="label label-danger pull-right" ng-show="form.license_no.$error.required">{{form.license_no.message}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="name" ng-model="regulatory.name" required>
                                <span class="label label-danger pull-right" ng-show="form.name.$error.required">{{form.name.message}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Date Issued</label>
                                    <div class="controls">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" name="date_issued" class="form-control" ng-model="regulatory.date_issued" data-max-date="{{regulatory.valid_until}}" placeholder="Date Issued" bs-datepicker required>
                                        </div>
                                        <span class="label label-danger pull-right" ng-show="form.date_issued.$error.required">{{form.date_issued.message}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Valid Until</label>
                                    <div class="controls">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" name="valid_until" class="form-control" ng-model="regulatory.valid_until" data-min-date="{{supplier.date_issued}}" placeholder="Valid Until" bs-datepicker required>
                                        </div>
                                        <span class="label label-danger pull-right" ng-show="form.valid_until.$error.required">{{form.valid_until.message}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Remarks</label>
                            <div class="controls">
                                <textarea class="form-control" name="remarks" ng-model="regulatory.remarks"></textarea>

                            </div>
                        </div>
                        <div class="form-actions highlight">
                            <button ng-click="submit(form)" type="button" class="btn btn-primary">Add</button>
                            <button ng-click="clear()" class="btn">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-file-o"></i>Upload Document</h2>
                    <div class="box-icon">
                        <span class="btn btn-file">
                            <i class="fa fa-upload"></i> Upload
                            <input type="file" ng-file-select="onFileSelect($files)" id="fileUpload">
                        </span>
                    </div>
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-show="noFiles">
                                No file has been uploaded.
                            </div>
                            <span ng-show="uploading"><i class="fa fa-spinner fa-spin"></i> Uploading...</span>
                            <div ng-show="fileOkay">
                                <span class="label label-success">Uploaded</span> {{regulatory.document_data.FileName}}
                                <a class="pull-right btn btn-mini btn-danger" href="" target="_blank"><i class="fa fa-trash-o"></i> delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
