<div id="content" ng-controller="PlannerCtrl">
    <div class="sub-header">
        <h3 class="section-title">
            Initiate Import &gt;
            <a ui-sref="initiate_import_planner">Planner</a> &gt;
            <strong>Add</strong>
        </h3>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h2>
                        <i class="fa fa-calendar-o"></i>Material Summary
                    </h2>
                    <div class="box-icon">
                        <button class="btn" container="body" data-template="/modules/initiateimport/planner/material.tpl.html" bs-modal>
                            <i class="fa fa-search"></i> Search
                        </button>
                    </div>
                </div>
                <div class="box-content">
                    <div class="row" ng-show="noMaterial">
                        <div class="col-xs-12">
                            Please select Material.
                        </div>
                    </div>
                    <div class="row" ng-hide="noMaterial">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">Material Code</label>
                                <div class="controls">
                                    <div class="label-value">{{material.code}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Item Description</label>
                                <div class="controls">
                                    <div class="label-value">{{material.description}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Item Regulatory</label>
                                <div class="controls">
                                    <div class="label-value toCapitalize">{{material.regulatory}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                            <span class="label pull-right" ng-class="{'label-important': material.supplier.status == 'inactive', 'label-success': material.supplier.status == 'active'}">{{material.supplier.status}}</span>
                                <label class="control-label">Supplier </label>
                                <div class="controls">
                                    <div class="label-value">{{material.supplier.name}}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label">Valid From</label>
                                        <div class="controls">
                                            <div class="label-value"><i class="fa fa-calendar"></i> {{material.supplier.valid_from | date: 'mediumDate'}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label">Valid To</label>
                                        <div class="controls">
                                            <div class="label-value"><i class="fa fa-calendar"></i> {{material.supplier.valid_to | date: 'mediumDate'}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Supplier Address</label>
                                <div class="controls">
                                    <div class="label-value">{{material.supplier.address}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <span class="label pull-right" ng-class="{'label-important': material.broker.status == 'inactive', 'label-success': material.broker.status == 'active'}">{{material.broker.status}}</span>
                                <label class="control-label">Broker</label>
                                <div class="controls">
                                    <div class="label-value">{{material.broker.name}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Broker Contact Person</label>
                                <div class="controls">
                                    <div class="label-value">{{material.broker.contact}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Broker Email</label>
                                <div class="controls">
                                    <div class="label-value">{{material.broker.email}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="box">
                <div class="box-header">
                    <h2>
                        <i class="fa fa-pencil-square-o"></i>Planner
                    </h2>
                </div>
                <div class="box-content">
                    <form role="form" name="form">
                        <div class="form-group">
                            <label class="control-label">Impex / PO number</label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="planner.po_number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">PO Date</label>
                            <div class="controls">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" name="po_date" class="form-control" ng-model="planner.po_date" placeholder="PO Date" bs-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">ETA</label>
                                    <div class="controls">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" name="eta" class="form-control" ng-model="planner.eta" data-max-date="{{planner.etd}}" placeholder="ETA" bs-datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">ETD</label>
                                    <div class="controls">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" name="etd" class="form-control" ng-model="planner.etd" data-min-date="{{planner.eta}}" placeholder="ETD" bs-datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions highlight">
                            <button ng-click="submit(form)" type="button" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="box">
                <div class="box-header">
                    <h2>
                        <i class="fa fa-file-o"></i>Required Documents</h2>
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="upload-docs">
                                <li ng-hide="!material.documents || material.documents.length">
                                    <span class="status">
                                        <span class="desc">Please select item</span>
                                    </span>
                                </li>
                                <li ng-repeat="doc in material.documents | filter:{document_category:'ii_planner'}">
                                    <span class="status">
                                        <span class="desc">{{doc.document_name}}</span>
                                        <span class="label label-danger">Not uploaded</span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-actions highlight">
                        <form>
                            <input type="file" ng-disabled="!material.documents" ng-model="files" file-change>
                            <br />
                            <button type="button" class="btn btn-block" ng-disabled="!material.documents">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
