/* Custom styles
=================================================================== */
 .main-container {
    margin-top: 40px;
}
.modal {
    overflow-y: auto;
}
.aside .aside-dialog .aside-header {
    background: #1e8fc6;
    padding: 3px 15px;
}
.aside .aside-dialog .aside-body {
    padding: 20px 35px;
}
.aside-350 {
    width: 350px;
}
.aside-400 {
    width: 400px;
}
.highlight {
    background-color: #f7f7f9;
    border-top: 1px solid #e1e1e8;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
}
.progress {
    margin-bottom: 0;
}
.fa.pull-right {
    margin-top: 3px;
}
.view {
    width: 20px;
    height: 20px;
    display: block;
}
.form-actions {
    margin-top: 20px;
}
.label-value {
    background: #eee;
    padding: 10px;
}
.label-value i {
    margin-right: 5px;
}
.toCapitalize {
    text-transform: capitalize;
}
.toUpper {
    text-transform: uppercase;
}
.section-title {
    margin-bottom: 0;
}
.title-non-box {
    font-size: 20px;
    padding: 0 10px 10px 0;
}
.alert:focus {
    outline: 0;
}
.forohfor {
    width: 300px;
    padding: 20px;
    margin: 100px auto 0;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
}
.forohfor h1 {
    font-size: 10em;
}
.forohfortext {
    color: #fff;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
}
.back-link{
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
.back-link a{
   color: #fff;
}

/* Margins */
.m-t-15{
    margin-top: 15px;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-b-30{
    margin-bottom: 30px;
}

/* Font Sizes */
.font-12{
    font-size: 12px;
}

/* Input width */
.form-w-25{
    width: 25%;
}