<div ng-include="'modules/common/header/view'"></div>
<div ng-include="'modules/common/sidenav/view-main'"></div>
<div id="content" ng-controller="DeliveryCtrl">
    <div ng-include="'modules/common/wizard/import'"></div>
    <div class="row">
        <div class="col-7">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-road"></i>Delivery</h2>
                </div>
                <div class="box-content">
                    <form role="form">
                        <div class="form-group">
                            <label class="control-label">IBD No.</label>
                            <div class="controls">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Warehouse No.</label>
                            <div class="controls">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="control-label">Date Start</label>
                                    <div class="controls">
                                        <div class="input-group date" ng-controller="DatePicker">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="model.ds" show-weeks="showWeeks" show-button-bar="showButtonBar" is-open="opened" datepicker-options="dateOptions" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="control-label">Date Finish</label>
                                    <div class="controls">
                                        <div class="input-group date" ng-controller="DatePicker">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="model.df" show-weeks="showWeeks" show-button-bar="showButtonBar" is-open="opened" datepicker-options="dateOptions" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="issues">Issues</label>
                            <div class="controls">
                                <textarea id="issues" rows="6" style="width: 100%; overflow: hidden; word-wrap: break-word; resize: horizontal; height: 126px;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="remarks">Remarks</label>
                            <div class="controls">
                                <textarea id="remarks" rows="6" style="width: 100%; overflow: hidden; word-wrap: break-word; resize: horizontal; height: 126px;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Delivery Receipt Date</label>
                            <div class="controls">
                                <div class="input-group date" ng-controller="DatePicker">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="model.drd" show-weeks="showWeeks" show-button-bar="showButtonBar" is-open="opened" datepicker-options="dateOptions" />
                                </div>
                            </div>
                        </div>
                        <div class="form-actions highlight">
                            <button type="button" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="box">
                <div class="box-header">
                    <h2>
                        <i class="fa fa-file-o"></i>Required Documents</h2>
                </div>
                <div class="box-content">
                    <ul class="upload-docs">
                        <li>
                            <span class="status">
                                <span class="desc">Delivery-Summary-Report.pdf</span>
                                <span class="label label-danger">Not uploaded</span>
                            </span>
                        </li>
                    </ul>
                    <div class="form-actions highlight">
                        <form>
                            <span class="fileUpload btn btn-primary">
                                <span class="fa fa-plus-circle"></span>Attach documents
                                <input type="file" ng-file-select="onFileSelect($files)" />
                            </span>
                        </form>
                        <p id="fileUploadError" class="text-danger hide"></p>
                        <div class="list-group hide" id="files"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
