<div id="content" ng-controller="UserAdd">
    <div class="row">
        <div class="col-xs-7">
            <div class="box">
                <div class="box-header">
                    <h2>
                        <i class="fa fa-user"></i>Add User</h2>
                </div>
                <div class="box-content">
                    <form role="form" name="form" novalidate>
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="name" ng-model="user.name" required>
                                <span class="label label-danger pull-right" ng-show="form.name.$error.required">{{form.name.message}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Username</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="username" ng-model="user.username" required>
                                <span class="label label-danger pull-right" ng-show="form.username.$error.required">{{form.username.message}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Group</label>
                            <select class="form-control" ng-init="user.group='impex'" ng-model="user.group">
                                <option value="impex">Impex</option>
                                <option value="broker">Broker</option>
                                <option value="planner">Planner</option>
                                <option value="buyer">Buyer</option>
                                <option value="finance">Finance</option>
                                <option value="regulatory">Regulatory</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Role</label>
                            <select class="form-control" ng-init="user.role='user'" ng-model="user.role">
                                <option value="user">User</option>
                                <option value="admin">Administrator</option>
                            </select>
                        </div>
                        <!--
                        <hr />

                        <div class="form-group">
                            <label class="control-label">Initiate Import</label>
                            <div class="controls">
                                <label class="checkbox inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">Option 1
                                </label>
                                <label class="checkbox inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2">Option 2
                                </label>
                                <label class="checkbox inline">
                                    <input type="checkbox" id="inlineCheckbox3" value="option3">Option 3
                                </label>
                            </div>
                        </div>
                        -->
                        <div class="form-actions highlight">
                            <button ng-click="submit(form)" class="btn btn-primary">Add</button>
                            <button ng-click="clear()" class="btn">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-5">

        </div>
    </div>
</div>
