<div id="content">
    <div class="row">
        <div class="col-xs-7">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-location-arrow"></i>Shipping Line / Forwarder</h2>
                </div>
                <div class="box-content">
                    <form role="form">
                        <div class="form-group">
                            <label class="control-label">Carrier/Shipping Line</label>
                            <select class="form-control">
                                <option>OOCL</option>
                                <option>RCL</option>
                                <option>Cosco</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Contract No.</label>
                            <div class="controls">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Contract Validity</label>
                            <div class="controls">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="control-label">Forwarder</label>
                            <select class="form-control">
                                <option>RB Freight</option>
                                <option>Air Power</option>
                                <option>Eastrans</option>
                            </select>
                        </div>
                        <div class="form-actions highlight">
                            <button type="button" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="box">
                <div class="box-header">
                    <h2>
                        <i class="fa fa-file-o"></i>Required Documents</h2>
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="upload-docs">
                                <li ng-hide="!item.documents || item.documents.length">
                                    <span class="status">
                                        <span class="desc">Please select item</span>
                                    </span>
                                </li>
                                <li ng-repeat="doc in item.documents | filter:{document_category:'ii_planner'}">
                                    <span class="status">
                                        <span class="desc">{{doc.document_name}}c</span>
                                        <span class="label label-danger">Not uploaded</span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-actions highlight">
                        <form>
                            <input type="file" ng-disabled="!item.documents" ng-model="files" file-change>
                            <br />
                            <button type="button" class="btn btn-block" ng-disabled="!item.documents">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
