<div id="content" ng-controller="BrokerCtrl">
    <div class="sub-header">
        <h3 class="section-title">
            Initiate Import &gt; 
            <a ui-sref="initiateimport_broker">Broker</a> &gt; 
            <strong>Add</strong>
        </h3>
    </div>
    <div class="row">
        <div class="col-xs-7">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-chain"></i>Broker</h2>
                </div>
                <div class="box-content">
                    <form role="form">
                        <div class="form-group">
                            <label class="control-label">Mode of Shipment</label>
                            <select class="form-control">
                                <option>FCL</option>
                                <option>LCL</option>
                                <option>AIR</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Incoterms</label>
                            <select class="form-control">
                                <option>EXW</option>
                                <option>FOB</option>
                                <option>CIF</option>
                                <option>CFR</option>
                                <option>DAP</option>
                                <option>DAT</option>
                                <option>DDP</option>
                                <option>DPO</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Country of Origin</label>
                            <div class="controls">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Sourcing Site / Port of Loading</label>
                            <div class="controls">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Country of Destination</label>
                            <select class="form-control">
                                <option>PH - Manila</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="address">Container Details</label>
                            <div class="controls">
                                <textarea id="address" rows="6" style="width: 100%; overflow: hidden; word-wrap: break-word; resize: horizontal; height: 126px;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Gross Weight / Net Weight</label>
                            <div class="controls">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-actions highlight">
                            <button type="button" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="box">
                <div class="box-header">
                    <h2>
                        <i class="fa fa-file-o"></i>Required Documents</h2>
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="upload-docs">
                                <li ng-hide="!item.documents || item.documents.length">
                                    <span class="status">
                                        <span class="desc">Please select item</span>
                                    </span>
                                </li>
                                <li ng-repeat="doc in item.documents | filter:{document_category:'ii_planner'}">
                                    <span class="status">
                                        <span class="desc">{{doc.document_name}}c</span>
                                        <span class="label label-danger">Not uploaded</span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-actions highlight">
                        <form>
                            <input type="file" ng-disabled="!item.documents" ng-model="files" file-change>
                            <br />
                            <button type="button" class="btn btn-block" ng-disabled="!item.documents">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

