<div class="aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="aside-title">Foreign Invoice</h4>
            </div>
            <div class="aside-body aside-350">
                <div class="row">
                    <div class="form-group" ng-hide="view">
                        <label class="control-label">Add required document</label>
                        <div class="controls">
                            <div class="input-group">
                                <input class="form-control" type="text" ng-model="docName">
                                <span class="input-group-btn">
                                    <button class="btn" type="button" ng-click="docAdd(docName,'foreign_invoice'); docName = '';">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                            <span class="label label-danger pull-right" ng-show="docNameError">Document name cannot be blank</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="document-list-item" ng-repeat="doc in docs | filter:{document_category:'foreign_invoice'}">
                        {{doc.document_name}}
                        <a href="javascript:;" class="pull-right" ng-click="docRemove(doc)" ng-hide="view"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
            <div class="aside-footer">
                <button type="button" class="btn" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>
